
  .carrousel {
    width: 800px;
    height: calc(650px - 150px);
    margin: auto;
    overflow: hidden;
    font-size: 0;
    position: relative;
    text-align: left;
  }
  .carrousel .screens {
    list-style: none;
   
    padding: 0;
    margin: 0;
    
    width: 900px;
    height: 600px;
    position: relative;
    transform: translate(0%, -30%);
  }
  .carrousel .screens > li {
    width: 0%;
    height: 100%;
    width: 40%;
    height: 40%;
    display: inline-block;
    font-size: 15px;
    overflow: hidden;
    background: #bbb;
    border-radius: 10px;
    opacity: 0;
    filter: blur(5px);
    cursor: pointer;
    position: absolute;
    bottom: 0;
    transform: translate(50%, 0);
    transition: all 0.7s;
    pointer-events: none;
  }
  .carrousel .screens > li:hover {
    filter: none;
    opacity: 1;
  }
  .carrousel .screens > li.active {
    opacity: 1;
    filter: none;
    width: 60%;
    height: 60%;
    z-index: 100;
    transform: none;
    transform: translate(20%, 0);
  }
  .carrousel .screens > li.active,
  .carrousel .screens > li.left,
  .carrousel .screens > li.right {
    pointer-events: all;
  }
  .carrousel .screens > li.left,
  .carrousel .screens > li.right {
    transform: translate(0%, 0);
    opacity: 0.5;
  }
  .carrousel .screens > li.left {
    transform: translate(0%, 0);
  }
  .carrousel .screens > li.right {
    transform: translate(100%, 0);
  }
  .carrousel .screens > li p {
    margin: 0;
    justify-content: center;
    align-items: center;
    text-align: center;
    display: flex;
    height: 100%;
    color: #fff;
    font-size: 20px;
    pointer-events: none;
  }
  .carrousel .pagination {
    list-style: none;
    padding: 5px;
    text-align: center;
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
  }
  .carrousel .pagination li {
    display: inline-block;
    vertical-align: middle;
    width: 10px;
    height: 10px;
    margin: 5px;
    opacity: 0.3;
    cursor: pointer;
    background: #000;
    border-radius: 100%;
    transition: all 0.2s;
    background-size: cover;
    background-position: center;
  }
  .carrousel .pagination li:hover,
  .carrousel .pagination li.active {
    opacity: 1;
  }
  #s1 {
    background-image: url('/assets/certificados/eng2.png');
    background-size: cover;
    background-position: center;
    object-fit: cover;
  }
  #s2 {
    background-image: url('/assets/certificados/inter1.jpg');
    background-size: cover;
    background-position: center;
    object-fit: cover;
  }   /*

  #s3 {
    background-image: url(https://doocode.xyz/res/img/backgrounds/DCG32.png);
    background-size: cover;
    background-position: center;
  }
  #s4 {
    background-image: url(https://doocode.xyz/res/img/backgrounds/DCG31.png);
    background-size: cover;
    background-position: center;
  }
  #s5 {
    background-image: url(https://doocode.xyz/res/img/backgrounds/DCG30.png);
    background-size: cover;
    background-position: center;
  }
  #s6 {
    background-image: url(https://doocode.xyz/res/img/backgrounds/DCG29.png);
    background-size: cover;
    background-position: center;
  }
  #s7 {
    background-image: url(https://doocode.xyz/res/img/backgrounds/DCG28.png);
    background-size: cover;
    background-position: center;
  }
  


*/

.cv {
  color: #fff;
  
}





/** ================
 * Responsive cat
 ===================*/

 @media only screen and (min-width: 768px) and (max-width: 959px) {
 	.cat {
 		width: 768px;
 	}

}

 @media only screen and (max-width: 767px) {
 	.cat {
 		width: 420px;
 	}
   .cat {
    width: 236px;
  }
 }

@media only screen and (max-width: 479px) {
	.cat {
		width: 300px;
	}
}

img {
  width: 100%;
  max-width: 100%;
  object-fit: cover; /* ajusta a imagem ao espaço sem distorcer */
}

@media (max-width: 990px){
  .cat {
    width: 420px;
  }
}

@media only screen and (min-width: 768px) and (max-width: 959px) {
  .carrousel {
    width: 100%;
  }

  .carrousel {
    width: 100%;
  }
}

@media only screen and (max-width: 767px) {
  .carrousel {
    width: 100%;
  }
}

@media only screen and (max-width: 479px) {
 .carrousel {
  width: 100%;
 }
}




.gtranslate_wrapper{
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;

}